.botonListas{
    outline: none;
    border: none;
    background-color: rgb(73, 73, 73);
    color: white;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}